<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
<title>{{title}}</title>
  </head>
  <body>
    {{> header}}
    {{> content}}
    <form class="" action="/">
      <input type="text" name="first name" value="" placeholder="First name">
      <input type="text" name="last name" value="" placeholder="Last name">
      <input type="email" name="email" value="" placeholder="Email id">
      <input type="password" name="password" value="" placeholder="Password">
      <button type="submit" name="button">Submit</button>
    </form>
    {{> footer}}
  </body>
</html>
